.pet-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px
}

.pet-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;;
}

.pet-list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 1px;
}
.pet-list article h2 {
    font-size: 24px;
    color: #4631B1;
    margin-bottom: 15px;
    line-height: 24px;
}
.pet-list article {
margin-bottom: 10px;
}

.pet-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #4631B1;
    background: none;
    margin-top: 10px;
    color: #4631B1;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .15s;
}

.pet-list article a:hover {
 background: #4631B1;
 color: #fff;

}


